body {
    margin: 0px;

    display: flex;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;

    background: rgb(24, 20, 19);
    background: linear-gradient(160deg, rgba(24, 20, 19, 1) 30%, rgba(51, 29, 193, 1));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.menu {
    display: flex;
    padding: 10px;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.123);
    color: white;
}

.menu .logo {
    margin: auto 0px;
    margin-right: auto;
    cursor: pointer;
}

.menu img {
    height: 50px;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: auto 0px;
    padding: 0px;
}

.menu li {
    margin: 0px 10px;
    padding: 0px;
}

.menu li a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.menu li a:hover {
    text-decoration: underline;
}

.title {
    height: 70vh;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    color: white;
    padding-top: 20vh;
}

.btn {
    border-style: solid;
    border-color: transparent;
    background-color: rgba(51, 29, 193, 1);
    color: white;
    padding: 20px 60px;
    border-radius: 50px;
    font-size: large;
    transition: background-color 1s, border-color 1s, color 1s;
    text-decoration: none;
}

.btn1 {
    font-size: 15px !important;
    padding: 20px 30px;
}

#btn_login {
    transition: cubic-bezier(0.075, 0.82, 1, 1) 300ms;
}

#btn_login:active,
#btn_login:hover {
    transform: scale(1.1);
}

.btn:active,
.btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgba(51, 29, 193, 1);
    border-color: rgba(51, 29, 193, 1);
}

.btn1:active,
.btn1:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border-color: black;
}

#btn_trsp {
    background-color: transparent;
    color: white;
    border-color: white;
    border-style: solid;
    transition: background-color 1s, border-color 1s, color 1s;
}


#btn_trsp:active,
#btn_trsp:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.cont {
    background-color: rgb(32, 32, 32);
    border-radius: 50px;
    text-align: justify;
    margin: 50px 150px;
    padding: 50px;
    font-size: 20px;
    color: white;
}

.cont1 {
    margin: 50px 32vw;
}

.sobre {
    display: flex;
}

.sobre .text h1 {
    font-size: 40px;
    margin-bottom: 50px;
}

.sobre .text h2 {
    font-size: 30px;
}

.imgs {
    width: min-content;
    height: min-content;
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.imgs img {
    height: 200px;
    width: 200px;
    margin: 1px;
    transition: cubic-bezier(0.075, 0.82, 1, 1) 300ms;
}

.sobre .imgs img:hover {
    transform: scale(1.1);
}

.con1 {
    padding: 0px;
}

.sec {
    display: flex;
    flex-direction: row-reverse;
    background: linear-gradient(0deg, rgb(32, 32, 32) 0%, rgba(51, 29, 193, 1) 100%, rgba(28, 157, 74, 1) 100%);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    padding: 50px;
    padding-bottom: 0px;
}

.sec .text {
    margin-top: auto;
    margin-bottom: 30px;
    color: white;
}

.sec .tel {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    width: 100vw;
    height: 550px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-color: white;
    border-style: solid;
    border-bottom: none;
    color: white;
    text-align: center;
    font-size: medium;
}

.sec .tel img {
    width: 8vw;
    box-shadow: 1px 1px 10px black;
}

.sec .tel .img_text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
    width: 16vw;
}

.sec .tel .img_text p {
    text-align: center;
}

.sec .tel .cam {
    width: 10px;
    height: 10px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
}

.con1 .con2 {
    margin: 50px;
}

.con1 .con2 ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: auto;
    margin-bottom: auto;
}

.con1 .con2 ul li {
    list-style: none;
    padding: 10px;
    padding-left: 0px;
    border-radius: 50px;
}

.con1 .con2 .con3 {
    display: flex;
}

.con1 .con2 .con3 .con3_1 {
    text-align: left;
}

.con1 .con2 .con3 .con3_1 #green {
    color: rgba(51, 29, 193, 1);
}

.con1 .con2 .con3 img {
    margin-left: 50px;
    width: 600px;
    height: 400px;
}

.tel .topics {
    display: flex;
}


.tel .topics ul {
    text-align: left;
    padding: 0px 30px;
    margin-left: auto;
}

.tel .topics li {
    font-size: 20px;
    padding: 5px;
    list-style: none;
}

.ofertas {
    padding: 50px;
    display: flex;
    justify-content: center;
}

#oferta {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 10px;
}

#oferta .valores {
    display: flex;
}

.ofertas #oferta .valores .preco {
    font-family: monospace;
    font-size: 20px;
    margin: 0px;
}

.ofertas #oferta .valores span {
    font-size: 10px;
    margin-top: auto;
    margin: 10px;
    margin-bottom: 30px;
}

.ofertas #oferta .line {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.356);
    border-radius: 30px;
    margin-bottom: 20px;
}

.ofertas #oferta ul {
    list-style: none;
    padding: 20px;
    padding-top: 0px;
    font-size: 15px;
}

.ofertas #oferta ul li {
    padding: 10px;
}

.ofertas #oferta ul #pr_only {
    color: gray;
}

.ofertas #oferta #btn_clr {
    margin: auto;
    font-size: 10px;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;
}

.login label {
    margin: 20px 0px;
}

.login label input {
    width: 25vw;
    height: 30px;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
}

.login div {
    display: flex;
}

.login div span {
    margin: auto 10px;
}

.login div .btn {
    height: min-content;
    width: 200px;
}

.login span {
    margin: 30px;
}

.login span a {
    text-decoration: none;
    color: #c3c3c3;
}

.login span a:hover {
    text-decoration: underline;
}

.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: black;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+.slider {
    background-color: rgba(51, 29, 193, 1);
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}